/.phpunit.cache
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/systemconfig/play.ini
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
.editorconfig
.gitattributes
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
/public/multiplayer
public/js/player.js
public/css/player/favicon.ico
public/css/player/*.css
public/js/multiplayer.js
resources/views/player/index.blade.php
resources/views/player/index-ce.blade.php
# Ignore specific local resource files
/resources/css/site.css
/resources/js/site.js
composer.lock
