@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --sublue: #002f5f;
    --sured: #ff0000;
    --dark: #17191D;
    --light: #f4f4f4;
    --search: #f5f5f5;
    --overlay: rgba(23,25,29,0.8);
    --ease: all 0.3s ease 0s; }

*,
*::before,
*::after {
    box-sizing: border-box; }

.search-form {
    position: relative;
    width: 250px;
    margin: 0 auto;

    height: 40px;
    border-radius: 40px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    background: #fff;
    transition: all 0.3s ease;
}

.search-form.focus {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15); }

.searchtext {
    padding-top: 10px;
    padding-left: 38px;
}

.autoc {
    position: absolute;
    width: 250px;
    top: 18px;
    left: -35px;
    z-index: 2;

}

.automenu {
    border-radius: 10px;
}

.autoc-autocomplete-items div {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 400;
    text-align: left;
    padding: 7px;
    cursor: pointer;
    background-color: #ffffff;



/*
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: left;
    padding: 10px;
    cursor: pointer;
    background-color: #ffffff;
    z-index: 100;

 */
}

.autoc-autocomplete-items div a {
    text-decoration: none;
    color: var(--overlay);
    z-index: 100;
}
.autoc-autocomplete-items div small {
    color: var(--sublue);
}

.autoc-autocomplete-items div:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.autoc-autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.search-input {
    position: absolute;
    /*top: 10px;*/
    /*left: 38px;*/ /*Adjusted by the div-container*/
    font-size: 14px;
    background: none;
    width: 495px;
    height: 20px;
    border: none;
    appearance: none;
    outline: none;
}

.search-input::-webkit-search-cancel-button {
    appearance: auto;
}

.navbutton {
    position: relative;
    /*left: 10%;*/
    z-index: 6;
}

.search-button {
    position: absolute;
    top: 10px;
    left: 15px;
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none !important;
    cursor: pointer;
}

.search-button svg {
    width: 20px;
    height: 20px;
    fill: #5a6674;
}

.search-button i {
    width: 20px;
    height: 20px;
    fill: #5a6674;
}

.search-option {
    position: absolute;
    text-align: right;
    top: 10px;
    right: 15px;
}

.search-option div {
    position: relative;
    display: inline-block;
    margin: 0 1px;
    cursor: pointer;
}

.search-option div input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.01;
    cursor: pointer;
}

.search-option div span {
    position: absolute;
    display: block;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    background: var(--sublue);
    color: #fff;
    font-size: 9px;
    letter-spacing: 1px;
    line-height: 1;
    text-transform: uppercase;
    padding: 4px 7px;
    border-radius: 12px;
    top: -18px;
    transition: all .2s ease-in-out;
}

.search-option div span::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    border-top: 4px solid #929AA3;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    transition: all .2s ease-in-out;
}

.search-option div:hover span {
    opacity: 1;
    top: -21px;
}

.search-option div label {
    display: block;
    cursor: pointer;
}

.search-option div i {
    height: 20px;
    width: 20px;
    fill: #5a6674;
    opacity: 0.6;
    transition: all .2s ease-in-out;
    pointer-events: none;
}

.search-option div:hover i {
    opacity: 1;
}

.search-option div input:checked + label i {
    color: #e24040;
    fill: #e24040;
    opacity: .9;
}

.search-option div input:checked + label span {
    background: #e24040;
}

.search-option div input:checked + label span::after {
    border-top-color: #e24040;
}

/*@media only screen and (max-width: 600px) { */
@media only screen and (min-width:47em){
    .search-form {
        width: 550px;

    }

    .autoc {
        width: 500px;
        left: -20px;
        z-index: 100;


    }

    .autoc-autocomplete-items div {
        z-index: 100;
        padding: 10px;
        font-size: 18px;
        /*
        font-family: 'Open Sans', sans-serif;
        font-size: 10px;
        font-weight: 400;
        text-align: left;
        padding: 7px;
        cursor: pointer;
        background-color: #ffffff;

         */
    }

}
