@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;600&family=Teko:wght@300;400;600&display=swap');

html,
body {
    margin: 0;
    height: 100%;
    background: hsl(0, 0%, 0%);
}

video {
    /*
    height: 100%;
    width: 177.77777778%;
    min-width: 100%;
    min-height: 56.25%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    */
    height: 100%;
    width: 100%;
    max-height: 100%;
}

.mastervideo {
    width: 100%;
    height: 100%;
    clear: both;
    overflow: hidden;
    max-width: 100%;
    object-fit: cover;
}

.slavevideo {
    width: 100%;
    height: 100%;
    clear: both;
    overflow: hidden;
    max-width: 100%;
    object-fit: cover;
}

/*--------------------------------------------------------------
Wrapper settings
--------------------------------------------------------------*/

.wrapper {
    margin-right: auto;
    margin-left:  auto;
    /*max-width: 1180px;*/

    /*max-height: 100vh;*/
    height:     auto;
    min-height: 100%;

    padding-right: 10px;
    padding-left:  10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-direction: column;
}

/*--------------------------------------------------------------
Header settings
--------------------------------------------------------------*/

.head {
    display: flex;
    width: 100%;
    position: relative;
    font-size: 20px;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: center;
    align-items: baseline;
    background: hsl(0, 0%, 0%);
    color: #ffffff;
    order: 1;
}
.dev {
    font-family: 'Teko', sans-serif;
    font-size: 18px;
}

/*--------------------------------------------------------------
Playlist settings
--------------------------------------------------------------*/
.playlist {
    padding: 1em;
    font-family: 'PT', sans-serif;
    font-size: 14px;
    color: white;
    background-color: hsl(0, 0%, 20%);
}

.trigger {
    display: none;
    padding: .1em .5em;
    color: white;
    background: hsla(225, 82%, 53%, 1);
    border: none;
    transform: rotate(90deg);
}

.trigger:focus,
.trigger:hover {
    outline: 2px dotted hsl(0, 0%, 40%);
}

.trigger:focus {
    outline-color: white;
}

.playlist ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;

}

.playlist a {
    display: block;
    padding: .5em 2em;
    color: white;
    text-decoration: none;
}

.playlist a:focus,
.playlist a:hover {
    text-decoration: underline;
}

/*--------------------------------------------------------------
Container (Videos) settings
--------------------------------------------------------------*/

.container {
    position: relative;
    overflow: auto;
    padding: 10px;
    margin: 10px;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex: 1;
    order: 2;
}

/*--------------------------------------------------------------
Border settings fot dev-mode -> remove for production
--------------------------------------------------------------*/
.wrapper {
    border: 4px solid #00FF00;
}
.container {
    border: 4px solid #ff4136;
}
.head {
    /*font-size: 14px;*/
    border: 1px dotted #ff4136;
}

.footer {
    font-size: 14px;
    border: 1px dotted #ff4136;
}
.master {
    font-size: 14px;
    border: 1px dotted #ff4136;
    /*background-color: hsl(0, 0%, 0%);*/
}

.slave1, .slave2, .slave3 {
    font-size: 14px;
    border: 1px dotted #0074d9;
}
.grid:after {
    content: 'grid';
    background-color: #0074d9;
}

.slave1:after {
    content: 'Secondary1';
    background-color: #0074d9;
}
.slave2:after {
    content: 'Secondary2';
    background-color: #0074d9;
}
.slave3:after {
    content: 'Secondary3';
    background-color: #0074d9;
}

.master:after {
    content: 'Primary';
    background-color: #0074d9;
}
/*--------------------------------------------------------------
Dev Pseudos settings -> To remove in production
--------------------------------------------------------------*/
.grid:after,
.master:after,
.slave1:after,
.slave2:after,
.slave3:after
 {
    position: absolute;
    text-transform: uppercase;
    left: 0;
    top: 0;
    color: white;
    padding: 5px;
    font-size: 12px;
}



/*--------------------------------------------------------------
Master toggle switch
--------------------------------------------------------------*/

.head .switch {
    position: absolute;
    top: 2em;
    right: 0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 14px;
    padding: 10px 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.head .switch:hover {
    background-color: black;
}

.player_close {
    position: absolute;
    left: 2em;
    top: 2.3em;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: hsl(0, 0%, 30%);
    color: white;
    font-size: 10px;
    padding: 8px 8px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    text-align: center;
    z-index: 1;
}

.player_close:hover {
    background-color: blue;
}
/*--------------------------------------------------------------
Slave disable switch
--------------------------------------------------------------*/
.slave1 .disable_slave1,
.slave2 .disable_slave2,
.slave3 .disable_slave3 {
    position: absolute;
    top: 2em;
    right: -0.3em;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: hsl(0, 0%, 30%);
    color: white;
    font-size: 10px;
    padding: 8px 8px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    text-align: center;
    z-index: 1;
}

.slave1 .disable_slave1:hover {
    background-color: blue;
}

.slave2 .disable_slave2:hover {
    background-color: blue;
}

.slave3 .disable_slave3:hover {
    background-color: blue;
}

/*--------------------------------------------------------------
Controls bar settings
--------------------------------------------------------------*/

.footer {
    display: flex;
    position: fixed;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
    width: 97%;
    color: white;
    padding: 2.5em;
    /*background: hsl(0, 0%, 0%);*/
    overflow: auto;
    /*order: 3;*/
}

.footer:hover .controls {
    transform: translateY(0);
}

/*--------------------------------------------------------------
Controls
--------------------------------------------------------------*/

.buttons {
    padding: 25px 40px;
}

.buttons button {
    background: none;
    border: none;
    outline: 0;
    cursor: pointer;
}

.buttons #play-pause:before {
    content: '\f04b';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    width: 25px;
    height: 25px;
    display: inline-block;
    font-size: 23px;
    color: white;
    -webkit-font-smoothing: antialiased;
}

/* Fastforward button */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: hsl(0, 0%, 0%);
    min-width: 65px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    bottom: 25px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content button {
    background: hsl(0, 0%, 0%);
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ccc;}
.dropdown-content button:hover {background-color: #58E55A;}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.buttons #fast-forward:before {
    content: '\f04e';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    width: 25px;
    height: 25px;
    display: inline-block;
    font-size: 25px;
    color: white;
    -webkit-font-smoothing: antialiased;
}

.buttons #fullscreen:before {
    content: '\f009';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    width: 25px;
    height: 25px;
    display: inline-block;
    font-size: 23px;
    color: white;
    -webkit-font-smoothing: antialiased;
}

.controls {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 97%;
    align-items: baseline;
    background-color: rgba(0,0,0,0.7);
    border-radius: 5px;
    transform: translateY(100%) translateY(-5px);
    transition: all .2s;
}

.buttons #play-pause.play:before {
    content: '\f04b';
    font-family: 'Font Awesome 5 Free';
}

.buttons #play-pause.pause:before {
    content: '\f04c';
    font-family: 'Font Awesome 5 Free';
}
.buttons #fast-forward.set:before {
    content: '\f050';
    font-family: 'Font Awesome 5 Free';
}
.buttons #fast-forward.back:before {
    content: '\f01e';
    font-family: 'Font Awesome 5 Free';
}
.buttons #fullscreen.open:before {
    content: '\f009';
    font-family: 'Font Awesome 5 Free';
}

.buttons #fullscreen.close:before {
    content: '\f78c';
    padding: 5px;
    font-family: 'Font Awesome 5 Free';
}

.time {
    font-family: 'Teko', sans-serif;
    font-size: 20px;
    padding: 10px;
    color: white;
}

.progressbar_container {
    height: 8.4px;
    /*background-color: rgba(0,0,0,0.7);*/
    margin-bottom: 10px;
}

progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 2px;
    width: 100%;
    height: 8.4px;
    pointer-events: none;
    position: absolute;
    top: 0;
}

progress::-webkit-progress-bar {
    background-color: rgba(0,0,0,0.7);
    /*background: hsl(0, 0%, 0%);*/
    border-radius: 2px;
}

progress::-webkit-progress-value {
    /*background: #0074d9;*/
    background: hsl(0, 0%, 0%);
    border-radius: 2px;
}

progress::-moz-progress-bar {
    border: 1px solid #0074d9;
    background: #0074d9;
}

.seek {
    position: absolute;
    top: 0;
    width: 100%;
    cursor: pointer;
    margin: 0;
}

.seek:hover+.seek-tooltip {
    display: block;
}

.seek-tooltip {
    display: none;
    position: absolute;
    top: -10px;
    margin-left: -50px;
    font-size: 14px;
    padding: 3px;
    content: attr(data-title);
    font-weight: bold;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
}

.volumebuttons {
    padding: 25px 100px;
}

.volumebuttons button {
    background: none;
    border: none;
    outline: 0;
    cursor: pointer;
}

.volumebuttons input {
    width: 100px;
    opacity: 1;
    transition: all 0.4s ease;
}

.volumebuttons:hover input, .volumebuttons input:focus {
    width: 100px;
    opacity: 1;
}

svg {
    width: 30px;
    height: 30px;
    fill: #fff;
    stroke: #fff;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
}

.hidden {
    display: none;
}

/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/
@supports (grid-area: auto) {
    @media only screen and (min-width:47em){
    /*@media screen and (min-width: 20em) {*/
        .grid {
            position: relative;
            display: grid;
            left: -15em;
            border: 1px solid yellow;
            /*grid-template-columns: 75% 25%;*/
            grid-template-columns: 15em 75% 25%;
            grid-template-rows: minmax(1fr, 1fr) minmax(1fr, 1fr) minmax(1fr, 1fr);
            grid-template-areas:
                "nav master slave1"
                "nav master slave1"
                "nav master slave2"
                "nav master slave2"
                "nav master slave3"
                "nav master slave3";
            transition: left .6s;
            grid-gap: 10px;
        }
        .master {
            grid-area: master;
            /*max-height: 100%;*/
            position: relative;
        }


        .slave1 {
            grid-area: slave1;
            position: relative;
        }

        .slave2 {
            grid-area: slave2;
            position: relative;
        }

        .slave3 {
            grid-area: slave3;
            position: relative;
        }

        .show {
            left: 0;
        }
        .playlist {
            grid-area: nav;
        }
        .playlist ul {
            /*position: fixed;*/
            display: none;
            flex-direction: column;
        }

        .open ul {
            display: flex;
        }

        .trigger {
            position: fixed;
            display: block;
            top: 10em;
            left: -2em;
            transition: left .6s;
        }

        .show .trigger {
            left: 15.2em;
        }

    }


    @media (min-width: 768px) {



    }

    @media (min-width: 1024px) {


    }

    @media (min-width: 1200px) {


    }

}
