/*@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";*/
@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

@import '/node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/*
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*/
@font-face {
    font-family: 'Nunito';
    src:url('../fonts/Nunito/Nunito-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Rock Salt';
    src:url('../fonts/Rock_Salt/RockSalt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Mobile submenu styling */

*, ::after, ::before {
    scroll-behavior: smooth;
}

.border-r {
    /* Border for large screens in SU secondary color */
    border-right: 1px solid #acdee6;
}

.hamburger {
    cursor: pointer;
    width: 48px;
    height: 48px;
    transition: all 0.25s;
}

.hamburger_sub_top,
.hamburger_sub_bottom {
    content: '';
    position: absolute;
    width: 18px;
    height: 2px;
    background: #000;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger_sub_top {
    transform: translateY(-5px);
}

.hamburger_sub_bottom {
    transform: translateY(3px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(-1px);
}

.open .hamburger_sub_top {
    transform:
        rotate(45deg)
        translateY(0px);
}

.open .hamburger_sub_bottom {
    transform:
        rotate(-45deg)
        translateY(0px);
}

.chart-container {
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

/* Fix for preventing titles in navbar from wrapping */
#navbar-multi-level > ul > li {
    white-space: nowrap; /* Prevent text wrapping for top-level items */
    overflow-x: auto; /* Allow horizontal scroll if the content is too wide */
    display: inline-block; /* Ensure items stay inline */
}

#navbar-multi-level > ul > li > a,
#navbar-multi-level > ul > li > button {
    white-space: nowrap; /* Prevent wrapping on top-level links and buttons */
}

/* Media query for mobile devices */
@media only screen and (max-width: 768px) {
    .border-r {
        /* Remove the right border for mobile devices */
        border-right: none;
    }
}

@media (max-width: 576px) {
    .content {
        padding-top: 51px;
    }
}

