#user-search, #perm-search{
    position: relative
}

#user-search .form-control-main-search {
    background-color: #fff;

}
#perm-search .form-control-main-search {
    background-color: #fff;

}

#user-search .twitter-typeahead {
    margin: auto;
    width: 100%;
}

#perm-search .twitter-typeahead {
    margin: auto;
    width: 100%;
}

#user-search .search_autocomplete {
    -webkit-box-shadow: 0 0 6px 0 rgba(76, 76, 76, 0.2);
    box-shadow: 0 0 6px 0 rgba(76, 76, 76, 0.2);
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: absolute;
    background-color: #fff;
    border: 1px solid #dadada;
    width: 100%;
    z-index: 99999;
    color: #002f5f
}

#perm-search .search_autocomplete {
    -webkit-box-shadow: 0 0 6px 0 rgba(76, 76, 76, 0.2);
    box-shadow: 0 0 6px 0 rgba(76, 76, 76, 0.2);
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: absolute;
    background-color: #fff;
    border: 1px solid #dadada;
    width: 100%;
    z-index: 99999;
    color: #002f5f
}

#user-search .search_autocomplete ul, #user-search .autoc-autocomplete-items {
    padding: 1.4rem 0;
    margin: 0
}

#perm-search .search_autocomplete ul, #user-search .autoc-autocomplete-items {
    padding: 1.4rem 0;
    margin: 0
}

#user-search .search_autocomplete li {
    border-bottom: 0;
    padding: .3rem 0 .3rem 1.8rem;
    cursor: pointer;
    display: block;
    width: 100%
}

#perm-search .search_autocomplete li {
    border-bottom: 0;
    padding: .3rem 0 .3rem 1.8rem;
    cursor: pointer;
    display: block;
    width: 100%
}

#user-search .search_autocomplete li.active,
#user-search .search_autocomplete li.tt-cursor {
    background: #eef9fa;
}

#perm-search .search_autocomplete li.active,
#perm-search .search_autocomplete li.tt-cursor {
    background: #eef9fa;
}

#user-search .search_autocomplete li.active a,
#user-search .search_autocomplete li:hover a,
#user-search .search_autocomplete li.tt-cursor a {
    color: inherit;
    text-decoration: none;
}

#perm-search .search_autocomplete li.active a,
#perm-search .search_autocomplete li:hover a,
#perm-search .search_autocomplete li.tt-cursor a {
    color: inherit;
    text-decoration: none;
}

#user-search .search_autocomplete li:last-child {
    border-bottom: 0
}

#perm-search .search_autocomplete li:last-child {
    border-bottom: 0
}

#user-search .search_autocomplete .autocomplete-separator {
    border-bottom: #dadada
}

#perm-search .search_autocomplete .autocomplete-separator {
    border-bottom: #dadada
}

#user-search-text {

}

#course-search {
    position: relative
}

#course-search .form-control-main-search {
    background-color: #fff;

}

#course-search .twitter-typeahead {
    margin: auto;
    width: 75%;
}

#course-search .search_autocomplete {
    -webkit-box-shadow: 0 0 6px 0 rgba(76, 76, 76, 0.2);
    box-shadow: 0 0 6px 0 rgba(76, 76, 76, 0.2);
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: absolute;
    background-color: #fff;
    border: 1px solid #dadada;
    width: 100%;
    z-index: 99999;
    color: #002f5f
}

#course-search .search_autocomplete ul, #course-search .autoc-autocomplete-items {
    padding: 1.4rem 0;
    margin: 0
}

#course-search .search_autocomplete li {
    border-bottom: 0;
    padding: .3rem 0 .3rem 1.8rem;
    cursor: pointer;
    display: block;
    width: 100%
}

#course-search .search_autocomplete li.active,
#course-search .search_autocomplete li.tt-cursor {
    background: #eef9fa;
}
#course-search .search_autocomplete li.active a,
#course-search .search_autocomplete li:hover a,
#course-search .search_autocomplete li.tt-cursor a {
    color: inherit;
    text-decoration: none;
}
#course-search .search_autocomplete li:last-child {
    border-bottom: 0
}
#course-search .search_autocomplete .autocomplete-separator {
    border-bottom: #dadada
}

/*p {
    color: grey;
}*/

#heading {
    color: blue;
    font-weight: normal;
}
#heading_download {
    color: #33cc33;
    font-weight: normal;
}

.icon {
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    background: #002f5f;
    box-sizing: border-box;
    text-align: center;
    margin: auto 0;
    font-size: 25px;
    color: #fff;
    border: 2px solid #fff;
    box-shadow: 0 0 0 2px #837cb6;
    z-index: 2;
}

.title {
    color: blue;
}

.form-card {
    text-align: left;
}

.card {
    z-index: 0;
    border: none;
    position: relative;
}

.fs-title {
    font-size: 25px;
    color: blue;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left;
}

.blue-text {
    color: blue;
    font-weight: normal
}

.steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right;
}

.fieldlabels {
    color: gray;
    text-align: left;
}


.fit-image {
    width: 100%;
    object-fit: cover;
}

.loader {
    position: relative;
    text-align: center;
    margin: 15px auto 35px auto;
    z-index: 9999;
    display: block;
    width: 80px;
    height: 80px;
    border: 10px solid rgba(0, 0, 0, .3);
    border-radius: 50%;
    border-top-color: #000;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

.grey-bg {
    background-color: #F5F7FA;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

/* Modals */

.modal-content {
    border-radius: 0;
    box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.7);
}

.modal-backdrop.show {
    opacity: 0.75;
}

.loader-txt.p {
    font-size: 13px;
    color: #666;
}

.loader-txt.small {
    font-size: 11.5px;
    color: #999;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    font-size: 1rem;
    position: absolute;
    z-index: 1000;
    top: 100%;
    left: 0;
    display: none;
    float: left;
    min-width: 10rem;
    margin: .125rem 0 0;
    padding: .5rem 0;
    list-style: none;
    text-align: left;
    color: #525f7f;
    border: 0 solid rgba(0, 0, 0, .15);
    border-radius: .4375rem;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .15), 0 5px 15px rgba(0, 0, 0, .1);
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.dropdown-menu[x-placement^='top'],
.dropdown-menu[x-placement^='right'],
.dropdown-menu[x-placement^='bottom'],
.dropdown-menu[x-placement^='left'] {
    right: auto;
    bottom: auto;
}

.dropdown-item {
    font-weight: 400;
    display: block;
    clear: both;
    width: 100%;
    padding: .25rem 1.5rem;
    text-align: inherit;
    white-space: nowrap;
    color: #212529;
    border: 0;
    background-color: transparent;
}

.dropdown-item:hover,
.dropdown-item:focus {
    text-decoration: none;
    color: #16181b;
    background-color: #f6f9fc;
}

.dropdown-item.active,
.dropdown-item:active {
    text-decoration: none;
    color: #fff;
    background-color: #5e72e4;
}

.dropdown-item.disabled,
.dropdown-item:disabled {
    color: #8898aa;
    background-color: transparent;
}

.blue-text {
    color: blue;
    font-size: 20px !important;
    font-weight: 300
}

.form-control-label {
    margin-bottom: 0
}

input,
textarea,
button {
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 16px !important;
    font-weight: 300
}

.datepicker {
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 16px !important;
    font-weight: 300
}

.select2 {
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 16px !important;
    font-weight: 300
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #00BCD4;
    outline-width: 0;
    font-weight: 400
}
/*
.datepicker, .presenteradd, .courseadd, .tagadd, .permission{
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 16px !important;
    font-weight: 300
}
*/
.btn-block {
    text-transform: uppercase;
    font-size: 15px !important;
    font-weight: 400;
    height: 43px;
    cursor: pointer
}

.btn-block:hover {
    color: #fff !important
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.modal {
   /* background-image: linear-gradient(rgba(104,199,255,1) 0%, rgba(255,255,255,1) 90%) */
}

.counter {
    background-color: #f5f5f5;
    padding: 20px 0;
    border-radius: 5px;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: blue;
}
.ed {
    padding: 8px 15px;
    border-radius: 5px !important;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 16px !important;
    font-weight: 300
}
.group {
    padding: 8px 15px;
    box-sizing: border-box;
    font-size: 18px !important;
    font-weight: 300
}
